<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Games Paradise</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/0fa68b04a7.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>

    <!-- css stylesheet -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/contact-about-404.css">
    <link rel="stylesheet" href="css/contact-about-404-responsive.css">
  </head>
  <body>
    <!-- Header -->

    <!-- Navbar -->
    <nav class="navbar">
      <div class="home">
        <a href="/"><h2>HOME</h2></a>
      </div>

      <div class="navbar-menu hide-navbar-menu">
        <div class="">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="navbar-right">
        <form class="" action="/search" method="post">
          <div class="search">
            <input type="search" name="gameName" placeholder="Search games">
            <i class="fas fa-search"></i>
            <div class="search-results">

            </div>
          </div>
        </form>

        <div class="navbar-info">
          <a href="/about"><h2>ABOUT</h2></a>
          <a href="/contact"><h2>CONTACT</h2></a>
        </div>

        <div class="menu-slider">
          <div class="">
            <a href="/"><h2>Home</h2></a>
          </div>

          <div class="all-games">
            <a href="/games"><h2>All Games</h2></a>
          </div>

          <div class="new-games">
            <h2>New Games</h2>
            <a href="/recently-released"><i class="fas fa-hourglass-end"></i>Recently released</a>
            <a href="/coming-soon"><i class="fas fa-step-forward"></i>Coming soon</a>
          </div>

          <div class="top-games">
            <h2>Top Games</h2>
            <a href="/top"><i class="fas fa-crown"></i>Top all time</a>
            <a href="/best"><i class="fas fa-trophy"></i>Best of the year</a>
          </div>

          <div class="top-platforms">
            <a href="/platforms"><h2>Platforms</h2></a>
          </div>

          <div class="genres">
            <a><h2>Genres</h2></a>
            <div class="">
              <a href="/genres/fighting">Fighting</a>
              <a href="/genres/shooter">Shooter</a>
              <a href="/genres/platform">Platform</a>
              <a href="/genres/racing">Racing</a>
              <a href="/genres/arcade">Arcade</a>
              <a href="/genres/real-time-strategy-rts">RTS</a>
              <a href="/genres/role-playing-rpg">RPG</a>
              <a href="/genres/simulator">Simulator</a>
              <a href="/genres/sport">Sport</a>
              <a href="/genres/strategy">Strategy</a>
              <a href="/genres/adventure">Adventure</a>
              <a href="/genres/music">Music</a>
              <a href="/genres/turn-based-strategy-tbs">TBS</a>
              <a href="/genres/card-and-board-game">Card & Board Game</a>
              <a href="/genres/indie">Indie</a>
              <a href="/genres/visual-novel">Visual Novel</a>
              <a href="/genres/hack-and-slash-beat-em-up">Hack and slash</a>
              <a href="/genres/pinball">Pinball</a>
              <a href="/genres/quiz-trivia">Quiz-Trivia</a>
              <a href="/genres/puzzle">Puzzle</a>
              <a href="/genres/tactical">Tactical</a>
              <a href="/genres/moba">MOBA</a>
              <a href="/genres/point-and-click">Point-and-click</a>
            </div>
          </div>

          <div class="">
            <a href="/about"><h3>About</h3></a>
            <a href="/contact"><h3>Contact</h3></a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Header info -->
    <div class="header-info">
      <div class="header-title">
        <h1>CONTACT</h1>
      </div>
    </div>


    <!-- Main content -->
    <div class="container">
      <form class="contact-form" action="/contact" method="post">
        <div class="contact">
          <div class="contact-user">
            <input type="email" name="" value="" placeholder="Email" required>
            <input type="text" name="" value="" placeholder="Name">
            <input type="text" name="" value="" placeholder="Subject">
          </div>
          <div class="contact-message">
            <textarea name="" rows="8" cols="80" placeholder="Message" required></textarea>
          </div>
        </div>

        <button type="submit" name="button">SUBMIT</button>
      </form>
    </div>


    <!-- Footer -->
    <p class="cr">© 2021 Jaime Canovas. All rights reserved.</p>

    <script src="js/contact-about.js" charset="utf-8"></script>
    <script src="js/autocomplete.js" charset="utf-8"></script>
    <script src="js/contact-about-404-responsive.js" charset="utf-8"></script>
  </body>
</html>
